h6 {
    color:blueviolet;
}

.class_selection {
    color:burlywood;
}

#id_selection {
    color: blue;
}

.parent1 .child {
    color: aquamarine;
}

.parent2 {
    .child {
        color:beige;
    }
}

.child {
    color: chartreuse;
}

.text_1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18;
    line-height: 32;
    font-weight: 200;
    font-style: italic;
    text-decoration: line-through;
}

.box-model {
    /*盒子页边距*/
    margin: auto;
    /*边框*/
    border: auto;
}

.flex-model {
    /*弹性布局*/
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
}

.grid {
    /*网格布局*/
    display: grid;
    /*指定高度*/
    grid-template-rows: 100px, 200px, 300px;
    /*占据剩余空间第一列是第二列的一半*/
    grid-template-columns: 1fr, 2fr;
}

/*定位*/
.position-model {
    position: relative;
}